{% macro comment_widget(comment,username) %}
<li class="comment">
	<!-- 用户头像 -->
	<div class="comment-top clearfix">
		<div class="comment-avatar">
		{% if current_user.is_authenticated %}
		<a href="{% if username %}{{ url_for('.user',name=comment.author.username,username=username) }}{% else %}{{ url_for('.user',name=comment.author.username) }}{% endif %}">
				{% if comment.author.real_avatar %}
				<img src="{{ comment.author.real_avatar }}"  class="img-rounded" alt="user-avatar" style="width:40px;height:40px;">
				{% else %}
				<img class="img-rounded" alt="default-user-avatar" src="/static/avatar/default.jpg" style="width:40px;height:40px;">
				{% endif %}
			</a>
			{% else %}
				<img class="img-rounded" alt="default-user-avatar" src="/static/avatar/default.jpg" style="width:40px;height:40px;">
			{% endif %}
			</div>
			<div class="comment-title">
				{% if current_user.is_authenticated  %}
				<div class="comment-author"><a href="{% if username %}{{ url_for('.user',name=comment.author.username,username=username) }}{% else %}{{ url_for('.user',name=comment.author.username) }}{% endif %}">{{ comment.author.username }}</a></div>
				{% else %}
				<div class="comment-author"><span style="color: red;">游客</span></div>
				{% endif %}
				<div class="comment-date">{{ moment(comment.timestamp).format('YYYY-MM-DD HH:mm') }}</div>
			</div>
		</div>
		<!-- 支持反对 -->
		<div class="goodbadfb">
			<!-- ajax 方式提交信息 -->
			<span id="goodfb"+"{{ comment.id }}">
				<a href="#goodfb"+"{{ comment.id }}" onclick="postBadGood('goodfb',{{ comment.id }})">支持</a>
				<span>[{{ comment.goodcount }}]</span>
			</span>	
			<span id="badfb"+"{{ comment.id }}">
				<a href="#badfb"+"{{ comment.id }}" onclick="postBadGood('badfb',{{ comment.id }})">反对</a>
				<span>[{{ comment.badcount }}]</span>
			</span>	
		</div>

		<!-- 评论内容 -->
		<div id="{{ comment.id }}" class="comment-content clearfix">
			<div class="comment-body">
				{% if comment.replaycontent %}
					<span style="color: red;">{{ comment.replaycontent }}</span>
				{% endif %}
				{{ comment.body }}
			</div>
		</div>

		<!-- 回复 -->
		<div class="comment-replay clearfix">
			<a href="#postcomment" onclick="quoteComment('{{ comment.id }}')">回复</a>
		</div>
</li>
{% endmacro %}


