<!-- endpoint 生成分页链接的端点 -->
{% macro pagination_widget(pagination,endpoint) %}
<ul class="pagination">
	<!-- 有上一页显示上一页，否则显示禁止链接  -->
	<li {% if not pagination.has_prev %} class="disabled" {% endif %}>
		<!-- 向endpoint 传递关键字查询字符串参数 -->
		<a href="{% if pagination.has_prev %}{{ url_for(endpoint,page=pagination.prev_num,**kwargs) }}{% else %}#{% endif %}">
			&laquo;
		</a>
	</li>

	<!-- iter_page() 一个迭代器，返回一个在分页导航中显示的页数列表 -->
	{% for p in pagination.iter_pages() %}
		{% if p %}
			{% if p == pagination.page %}
			<!-- 页数是当前页 -->
			<li class="active">
				<a href="{{ url_for(endpoint,page=p,**kwargs) }}">{{ p }}</a>
			</li>
			{% else %}
			<li>
				<a href="{{ url_for(endpoint,page=p,**kwargs) }}">{{ p }}</a>
			</li>
			{% endif %}
		{% else %}
			<!-- 其他显示省略号 -->
			<li class="disabled"><a href="#">&hellip;</a></li>
		{% endif %}
	{% endfor%}

	<!-- 有下一页显示下一页，否则显示禁止链接 -->
	<li {% if not pagination.has_next %} class="disabled" {% endif %}>
		<a href="{% if pagination.has_next %}{{ url_for(endpoint,page=pagination.next_num,**kwargs) }}{% else %}#{% endif %}">
			&raquo;
		</a>
	</li>

	<!-- 共多少页多少条 -->
	<li>
		<span>共{{ pagination.pages }}页{{ pagination.total }}条</span>
	</li>
</ul>
{% endmacro %}


