<!-- 博客文章列表 -->
{% if posts %}
<ul class="posts">
	<!-- 遍历博客内容 -->
	{% for post in posts %}
	<li class="listBox">
		<div class="listBoxTop">
			<!-- 作者头像 -->
			<div class="listBoxAvatar">
				{% if post.author.real_avatar %}
					<a href="{{ url_for('main.index',username=post.author.username) }}"><img src="{{ post.author.real_avatar }}"  class="img-rounded blogimg-size" alt="user-avatar"></a>
				{% else %}
					<a href="{{ url_for('main.index',username=post.author.username) }}"><img class="img-rounded blogimg-size" alt="default-user-avatar" src="/static/avatar/default.jpg"></a>
				{% endif %}	
			</div>
			<div class="listBoxTitle">
				<h2>
					<a href="{% if username %}{{ url_for('main.post', id=post.id,username=username) }}{% else %}{{ url_for('main.post',id=post.id) }}{% endif %}" title="{{ post.title }}">{{ post.title }}</a>
				</h2>
				<span class="timeAuthor">
					发布于：<small>{{ moment(post.create_time).format('YYYY-MM-DD') }}</small>
					&nbsp;&nbsp;|&nbsp;&nbsp;作者：<small>{{ post.author.username }}</small>
					</span>
			</div>	
		</div>	

		<div class="listBoxCenter">
			<!-- 单一博客直接显示文章内容否则显示,否则显示摘要片段 -->
			{% if onepost %}
				<div class="post-body">{{ post.content | safe }}</div>
			{% else %}
				<div class="post-body">{{ post.fragment | safe }}</div>
			{% endif %}
		</div>
		
		<!-- 是否全文查看状态 -->
		{% if not onepost %}
		<div class="listBoxBottom">
			<div class="readMore">
				<a href="{% if username %}{{ url_for('main.post', id=post.id,username=username) }}{% else %}{{ url_for('main.post',id=post.id) }}{% endif %}" title="{{ post.title }}">
					<span>+阅读全文</span>
				</a>
			</div>
			
			<!-- 当前用户是文章作者 -->
			{% if current_user == post.author %}
			<a href="{% if username %}{{ url_for('.edit',id=post.id,username=username) }}{% else %}{{ url_for('.edit',id=post.id) }}{% endif %}">
				<span class="label label-primary">编辑</span>
			</a>
			<!-- 当前用户是管理员 -->
			{% elif current_user.is_administrator() %}
			<a href="{% if username %}{{ url_for('.edit',id=post.id,username=username) }}{% else %}{{ url_for('.edit',id=post.id) }}{% endif %}">
				<span class="label label-danger">编辑[管理员]</span>
			</a>
			{% endif %}
		</div>
		{% endif %}
	</li><!--listBox-->
	{% endfor %}
</ul>
{% endif %}


