<!-- 博客文章列表 -->
{% if posts %}
<ul class="posts">
	<!-- 遍历博客内容 -->
	{% for post in posts %}
	<li class="listBox">
		<div class="listBoxTop">
			<!-- 作者头像 -->
			<div class="listBoxAvatar">
				<!-- 点击用户头像进入个人站点 -->
				{% if post.author.real_avatar %}
					<a href="{{ url_for('main.index',username=post.author.username) }}"><img src="{{ post.author.real_avatar }}"  class="img-rounded blogimg-size" alt="user-avatar"></a>
				{% else %}
					<a href="{{ url_for('main.index',username=post.author.username) }}"><img class="img-rounded blogimg-size" alt="default-user-avatar" src="/static/avatar/default.jpg"></a>
				{% endif %}	
			</div>
			<div class="listBoxTitle">
				<h2>
					<a href="{% if username %}{{ url_for('main.post', id=post.id,username=username) }}{% else %}{{ url_for('main.post',id=post.id) }}{% endif %}" title="{{ post.title }}">{{ post.title }}</a>
				</h2>
				<span class="timeAuthor">
					发布于：<small>{{ moment(post.create_time).format('YYYY-MM-DD HH:mm') }}</small>
					&nbsp;&nbsp;|&nbsp;&nbsp;作者：<small>{{ post.author.username }}</small>
					&nbsp;&nbsp;|&nbsp;&nbsp;阅读：<small>{{ post.viewcount }}</small>
					&nbsp;&nbsp;|&nbsp;&nbsp;评论：<small>{{ post.comments.count() }}</small>
					</span>
			</div>	
		</div>	

		<div class="listBoxCenter">
			<!-- 显示博客列表还是博客文章 -->
			{% if onepost %}
			<div class="post-body center-block">{{ post.content | safe }}</div>
			{% else %}
			<div class="post-body center-block">{{ post.fragment | safe }}</div>
			<div class="readMore">
				<a href="{% if username %}{{ url_for('main.post', id=post.id,username=username) }}{% else %}{{ url_for('main.post',id=post.id) }}{% endif %}" title="{{ post.title }}">
					<span>+阅读全文</span>
				</a>
			</div>
			{% endif %}
		</div>
		
		<!-- 是否全文查看状态 -->
		<div class="listBoxBottom">
			<!-- 标签 -->
			<div class="listBoxBottomTag" style="flaot: left;">
			{% if post.tags %}
				<span style="font-size: 14px; float: left; color: #5f5454;">标签：</span>
				<ul class="bottomTag">
				{% for tag in post.tags %}
					<li>
						<a href="{% if username %}{{ url_for('.tag',name=tag.name,username=username) }}{% else %}{{ url_for('.tag',name=tag.name) }}{% endif %}" title="{{ tag.name }}">
							<span>{{ tag.name }}</span>
						</a>
					</li>	
				{% endfor %}
				</ul>
			{% endif %}
			</div>

			<div class="listBoxBottomCat">
			{% if post.category %}
				<span class="bottomCategory" style="font-size: 14px; color: #5f5454; margin-right: 15px;">日志分类：
					<a href="{% if username %}{{ url_for('.category',name=post.category.name,username=username) }}{% else %}{{ url_for('.category',name=post.category.name) }}{% endif %}" title="{{ post.category.name }}">
						<span>{{ post.category.name }}</span>
					</a>
				</span>
			{% endif %}

			<!-- 个人用户站点下，不显示编辑 -->	
			{% if not username %}
			{% if not onepost %}
			<!-- 当前用户是文章作者 -->
			{% if current_user == post.author %}
			<a href="{% if username %}{{ url_for('.edit',id=post.id,username=username) }}{% else %}{{ url_for('.edit',id=post.id) }}{% endif %}" style="margin-right: 5px;">
				<span class="label label-primary">编辑</span>
			</a>
			{% endif %}
			<!-- 当前用户是管理员 -->
			{% if current_user.is_administrator() %}
			<a href="{% if username %}{{ url_for('.edit',id=post.id,username=username) }}{% else %}{{ url_for('.edit',id=post.id) }}{% endif %}">
				<span class="label label-danger">编辑[管理员]</span>
			</a>
			{% endif %}
			</div>
			{% endif %}
			{% endif %}
		</div>
	</li><!--listBox-->
	{% endfor %}
</ul>
{% endif %}


