<!-- 搜索栏 -->
<div id="searchBox">
	<form id="searchForm" action="{% if username %}{{ url_for('.search',username=username) }}{% else %}{{ url_for('.search') }}{% endif %}" method="post">
		<input name="keyword" type="text" id="searchInput" value="搜一下，说easy!" onfocus="if(this.value=='搜一下，说easy!'){this.value=''};" onblur="if(this.value==''){this.value='搜一下，说easy!'};"></input>
		<span id="searchSubmit" class="glyphicon glyphicon-search"></span>
	</form>	
</div>

<!-- 分类列表 -->
{% if categorys %}
<div class="sidebarBox">
	<div class="boxTop">
		{% if gateway %}
		<span>热门分类</span>
		{% else %}
		<span>日志分类</span>
		{% endif %}
	</div>
	<div class="boxClassify">
		<ul class="sidebarList">
			{% for category in categorys %}
			<li>
				<a href="{% if username %}{{ url_for('.category',name=category.name,username=username) }}{% else %}{{ url_for('.category',name=category.name) }}{% endif %}" title="{{ category.name }}">
					<span>{{ category.name }}</span>
					<span class="badge" style="margin-left: 5px;">{{ category.get_posts_length(username) }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

<!-- 最新文章(post按时间取前10个) -->
{% if latest_posts %}
<div class="sidebarBox">
	<div class="boxTop">
		{% if gateway %}
		<span>热门文章</span>
		{% else %}
		<span>最新文章</span>
		{% endif %}
	</div>
	<div class="boxContent">
		<ul class="sidebarList">
			{% for latest_post in latest_posts %}
			<li>
				<a href="{% if username %}{{ url_for('main.post', id=latest_post.id,username=username) }}{% else %}{{ url_for('main.post',id=latest_post.id) }}{% endif %}" title="{{ latest_post.title }}">
					<span style="margin-right: 6px;" class="glyphicon glyphicon-book"></span><span>{{ latest_post.title | truncate(20) }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

<!-- 标签集合 -->
{% if tags %}
<div class="sidebarBox">
	<div class="boxTop clearfix">
		{% if gateway %}
		<span>热门标签</span>
		{% else %}
		<span>日志标签</span>
		{% endif %}
	</div>
	<div class="boxTag clearfix">
		<ul class="sidebarList clearfix">
			{% for tag in tags %}
			<li style="float:left;">
				<a href="{% if username %}{{ url_for('.tag',name=tag.name,username=username) }}{% else %}{{ url_for('.tag',name=tag.name) }}{% endif %}" title="{{ tag.name }}">
					<span>{{ tag.name }}</span>					
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}


