<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="tagModalLabel">添加日志分类</h4>
			</div>

			<div class="modal-body">
				<!-- 模态框内容 -->
				<!-- 防止回车input自动提交 -->
				<form id="tag_edit" name="tag_edit" role="form" onkeydown="if(event.keyCode==13){return false;}">
					{{ tag_form.csfr_token }}
					{{ render_field(tag_form.tag_name, class="form-control") }}
				</form>
			</div>

			<div class="modal-footer">
				<input type="button" id="submit_edit_tag" class="btn btn-primary" onclick="return false;" value="添加">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>


