<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="categoryModalLabel">添加日志分类</h4>
			</div>

			<div class="modal-body">
				<p>this is a test</p>
				<!--<form id="categoryForm">
					<div class="form-group">
						<label for="category">分类名称</label>
						<input id="category" class="form-control" name="category" value="" type="text">
					</div>
				</form>-->
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button id="categoryAdd" class="btn btn-primary">添加</button>
			</div>
		</div>
	</div>
</div>


