{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block metas %}
	<meta charset="UTF-8">
{% endblock %}

{% block title %}注册{% endblock %}

{% block styles %}
	{{ super() }}
	<style>
		* {
			box-sizing: border-box;
		}
		body {
			background-color: #eee;
		}
		.login-wrapper {
			position: absolute;
			width: 320px;
			top: 20%;
			left: 50%;
			margin-left: -160px;
			background: #fff;
			border-radius: 4px;
			padding: 1em;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}
		.login-title {
			font-size: 1.4em;
			text-align: center;
		}
		p {
			margin: 0 0 15px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container login-wrapper">
		<!-- 当验证用户或密码失败时，flush消息，重定向到login时，吐出消息-->
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		<p class="login-title">注册账户</p>
		<form method="post">
			{{ wtf.quick_form(form)}}
		</form>
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	/*文档就绪事件*/
	$(document).ready(function(){
		$('#submit').attr('style','width: 60%;');
		$('#submit').addClass("center-block");
		$('#submit').addClass("btn-primary");
	});
</script>
{% endblock %}



