{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}编辑个人信息{% endblock %}

{% block styles %}
	{{ super() }}
	<style>
		.test {
			margin: 20px 20px;
		}
	</style>
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="title-header">
			<p class="title-font">编辑您的信息</p>
		</div>
	</div>	
</div>	

<div class="container container-wrapper">
	<div class="row">	
		<div class="col-md-6" style="margin: 30px 30px;">
			{{ wtf.quick_form(form) }}
		<div>	
	</div>	
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	/*文档就绪事件*/
	$(document).ready(function(){
		$('#about_me').attr('rows','5');
	});
</script>
{% endblock %}


