* {
	box-sizing: border-box;
}

body {
	padding-top: 70px;
	background-color: #EEE;
}

/* errors */
.errors-wrapper {
	margin: 50px 50px;
}

.errors-context {
	margin-top: 25px;
	font-size: 15px;
}

/* container */
.container-wrapper {
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* eidt from page */
.title-header{
	width: 30%;
	padding-bottom: 9px;
	/*margin: 40px 0 20px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

.title-font {
	margin: 0 0 10px;
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 23px;
}
/**************/

/* 导航栏调整 */
#logo {
	height: 50px; 
	position: relative; 
	left: -10px;
}
#logo a{
	color: #fff;
}
#header a {
	padding: 15px 30px;
	color: #8C8C8C;
	font-size: 15px;
}

#header a:hover {
	background: #5F5F5F;
	color: #fff;
}

#navcur a {
	color: #fff;
	background: #6BC30D;
}

#navcur a:hover {
	background: #6BC30D;
	color: #fff;
}

#about_me a {
	background: #6BC30D;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
}

#about_me a:hover {
	background: #6BC30D;
	color: #fff;
}


