body {
	padding-top: 70px;
	background-color: #EEE;
}

/* errors */
.errors-wrapper {
	margin: 50px 50px;
}

.errors-context {
	margin-top: 25px;
	font-size: 15px;
}

/* container */
.container-wrapper {
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* eidt from page */
.title-header{
	width: 30%;
	padding-bottom: 9px;
	margin: 40px 0 20px;
}

.title-font {
	margin: 0 0 10px;
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 26px;
}
/**************/


