{% extends "bootstrap/base.html" %}
<!-- title标签中的内容 -->
{% block title %}Flasky{% endblock %}

<!-- head 标签中的内容 -->
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta name="baidu-site-verification" content="aYZ4JECMfI" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

<!-- 自定义样式 -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/blog.css') }}">
{% endblock %}

<!-- 用户定义的导航条 -->
{% block navbar %}
	{% include 'include/_navbar.html' %}
{% endblock %}

<!-- 用户定义的页面内容 -->
{% block content %}
	{{ super() }}
	<div class="container">
	<!-- 闪现消息 -->
	<div class="row">
    {% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}
		</div>
    {% endfor %}
	</div>
	</div>
	<!--页面内容-->
	{% block page_content %}{% endblock %}
{% endblock %}

<!-- 文档底部的JavaScript声明 -->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}


