{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}编辑个人信息{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="container" style="width: 75%; background: #fff; margin-bottom: 60px;">
	<div class="row">	
		<div class="center-block" style="width: 90%; margin-top: 20px; margin-bottom: 20px;">
			{{ wtf.quick_form(form) }}
		<div>	
	</div>	
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/sortable.min.js" type="text/javascript"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/zh.js"></script>
<script>
	/*文档就绪事件*/
	$(document).ready(function(){
		//调整自我介绍的初始化行数
		$('#about_me').attr('rows','5');
		var projectfileoptions = {
			showUpload : false,
			showRemove : false,
			language : 'zh',
			allowedPreviewTypes : [ 'image' ],
			allowedFileExtensions : [ 'jpg', 'png', 'gif' ],
			maxFileSize : 2000,
		};
		//bootstrap 文件上传
		$("#avatar").fileinput(projectfileoptions);
	});
</script>
{% endblock %}


