{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}编辑博客{% endblock %}

{% block styles %}
{{ super() }}
<style>
	.edit-bottom {
		margin-bottom: 60px;
	}
	.edit-main {
		margin-left: 30px;
		width: 90%;
		margin-top: 20px;
	}
</style>
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="title-header">
			<p class="title-font">编辑博客</p>
		</div>
	</div>	
</div>	

<div class="container container-wrapper edit-bottom">
	<!-- 文章作者或者管理员可以编辑 -->
	{% if current_user == post.author or current_user.can(Permission.ADMINISTER) %}			
	<div class="row">	
		<div class="edit-main">
			{{ wtf.quick_form(form) }}
		<div>	
	</div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='ckeditor-dev/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ck.js') }}"></script>
{% endblock %}


