{% extends "base.html" %}
{% from 'include/_macros.html' import pagination_widget %}

{% block title %}{{ name }} - 标签{% endblock %}

<!-- 重写页面内容 -->
{% block page_content %}
<div class="container">
<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-8 blog-main">
		<!-- 博客文章列表 -->
		{% include 'include/_posts.html' %}

		<!-- 显示分页链接 -->
		{% if not onepost and pagination %}	
			<div class="pagination">
			{% if username %}
			{{ pagination_widget(pagination,'.tag',name=name,username=usernamme)}}
			{% else %}
			{{ pagination_widget(pagination,'.tag',name=name) }}
			{% endif %}
			</div>
		{% endif %}
	</div><!-- blog-main-->

	<div class="col-xs-3 col-sm-3 col-md-3 blog-sidebar">
		{% include 'include/_sidebar.html' %}
	</div><!--blog-sidebar-->
</div><!--row-->
</div><!--container-->
{% endblock %}


