{% extends "base.html" %}

{% block title %}关于我{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">
{% endblock %}

{% block page_content %}
<div class="container" style="width: 70%; margin-top: 20px; background: #fff; border: 1px solid #dbdbdb;">
	<div class="row">
		<div class="profile-left col-md-4">
		<!-- 用户头像 -->
		<div style="text-align: center; margin-top: 25px; margin-bottom: 10px;">
			{% if user.real_avatar %}
				<img src="{{ user.real_avatar }}"  class="img-circle img-size" alt="user-avatar">
			{% else %}
				<img class="img-circle img-size" alt="default-user-avatar" src="/static/avatar/default.jpg">
			{% endif %}
		</div>
		<!-- 昵称 -->
		<div style="text-align: center;">
			<span class="username-text">{{ user.username }}</span>
		</div>
		<div class="moment-time">
			{% if user.last_seen %}
				<span style="margin-right: 6px;">上次登陆时间：</span>{{ moment(user.last_seen).format('YYYY-MM-DD HH:mm') }}
			{% endif %}
		</div>
			
		<div class="moment-time">
			{% if user.member_since %}
				<span style="margin-right: 6px;">注册时间：</span>{{ moment(user.member_since).format('L') }}
			{% endif %}
		</div>	
		</div><!-- left -->	

		<!-- 用户个人资料内容 -->
		<div class="profile-right col-md-6">
		<div class="profile-user">
		<!-- 真实姓名和所在地 -->
		{% if user.name or user.location %}
			{% if user.name %}
				<div>
					<span>姓名：</span><span>{{ user.name }}</span>
				</div>
			{% endif %}	
			{% if user.location %}
				<div>
					<span>所在地：</span><span><a href="http://map.baidu.com/?q={{ user.location }}">{{ user.location }}</a></span>
				</div>
			{% endif %} 
		{% endif %}
		<!-- 如果用户登录，显示邮箱地址 -->
		{% if current_user.is_authenticated %}
			<div>
				<span>邮箱：</span><span><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
			</div>
		{% endif %}
		<!-- 自我简介 -->
		{% if user.about_me %}
			<div>
				<span>个人简介：</span><span>{{ user.about_me }}</span>
			</div>
		{% endif %}
		</div>

		<!-- 登录状态且非个人用户站点才会显示 -->
		{% if current_user.is_authenticated and not username %}
		<!-- 编辑用户资料 -->
		<div>
			<!-- 只能编辑当前个人用户 -->
			{% if user == current_user %}
				<span class="btn-edit"><a class="btn btn-primary" href="{{ url_for('.edit_profile') }}">
				编辑信息
				</a></span>
			{% endif %}
			<!-- 管理员可编辑任何用户信息 -->
			{% if current_user.is_administrator() %}
				<span><a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
				 编辑信息[管理员]
				</a></span>
			{% endif %}
		</div>
		{% endif %}
		</div><!-- right -->
	</div><!-- row -->
</div>	<!-- end container -->

{% endblock %}


