{% extends "base.html" %}
{% from 'include/_macros.html' import pagination_widget %}

{% block title %}关于我{% endblock %}
{% block styles %}
	{{ super() }}
	<style>
		.profile-left {
			float: left;
			height: 350px;
			border: 1px solid #dad3d3;
			margin: 30px 30px;
			box-sizing: border-box;
		}
		.profile-right {
			float: left;
			height: 350px;
			border: 1px solid #dad3d3;
			margin: 30px 0px;
			box-sizing: border-box;
		}
		.profile-user {
			padding: 60px 30px;
			line-height: 30px;
			 font-size: 15px;
			 font-family: 微软雅黑;
		}
		.img-size {
			width: 150px;
			height: 150px;
		}
		.username-text {
			font-size: 30px;
			font-family: 微软雅黑;
			line-height: 60px;
		}
		.moment-time {
			position: relative;
			left: 20px;
			line-height: 30px;
		}
		.btn-edit {
			padding-left: 30px;
			padding-right: 10px;
		}
		.userTitle {
			line-height: 45px;
			font-size: 23px;
			margin: 10px 0;
		}
	</style>
{% endblock %}

{% block page_content %}
<div class="container container-wrapper" style="width: 80%;">
	<div class="row">
		<div class="profile-left col-md-3">
		<!-- 用户头像 -->
		<div style="text-align: center; margin-top: 25px; margin-bottom: 10px;">
			{% if user.real_avatar %}
				<img src="{{ user.real_avatar }}"  class="img-circle img-size" alt="user-avatar">
			{% else %}
				<img class="img-circle img-size" alt="default-user-avatar" src="/static/avatar/default.jpg">
			{% endif %}
		</div>
		<!-- 昵称 -->
		<div style="text-align: center;">
			<span class="username-text">{{ user.username }}</span>
		</div>

		<div class="moment-time">
			{% if user.last_seen %}
				<span style="margin-right: 6px;">上次登陆时间：</span>{{ moment(user.last_seen).format('YYYY-MM-DD HH:mm') }}
			{% endif %}
		</div>
			
		<div class="moment-time">
			{% if user.member_since %}
				<span style="margin-right: 6px;">注册时间：</span>{{ moment(user.member_since).format('L') }}
			{% endif %}
		</div>	
		</div>	

		<!-- 用户个人资料内容 -->
		<div class="profile-right col-md-6">
		<div class="profile-user">
		<!-- 真实姓名和所在地 -->
		{% if user.name or user.location %}
			{% if user.name %}
				<div>
					<span>姓名：</span><span>{{ user.name }}</span>
				</div>
			{% endif %}	
			{% if user.location %}
				<div>
					<span>所在地：</span><span><a href="http://map.baidu.com/?q={{ user.location }}">{{ user.location }}</a></span>
				</div>
			{% endif %} 
		{% endif %}
		<!-- 如果用户登录，显示邮箱地址 -->
		{% if current_user.is_authenticated %}
			<div>
				<span>邮箱：</span><span><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
			</div>
		{% endif %}
		<!-- 自我简介 -->
		{% if user.about_me %}
			<div>
				<span>个人简介：</span><span>{{ user.about_me }}</span>
			</div>
		{% endif %}
		</div>

		<!-- 编辑用户资料 -->
		<div>
			<!-- 只能编辑当前个人用户 -->
			{% if user == current_user %}
				<span class="btn-edit"><a class="btn btn-primary" href="{{ url_for('.edit_profile') }}">
				编辑信息
				</a></span>
			{% endif %}
			<!-- 管理员可编辑任何用户信息 -->
			{% if current_user.is_administrator() %}
				<span><a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
				 编辑信息[管理员]
				</a></span>
			{% endif %}
		</div>
		</div>
	</div>
</div>	<!-- end container -->

<div class="container" style="width: 80%;">
	<!-- header -->
	<div class="row">
		<div class="userTitle">
			<span>用户发表过的文章列表</span>
		</div>
	</div>

	<!-- 用户发表的博客文章列表 -->
	<div class="row">
		<div>
		{% include 'include/_posts.html' %}

		<!-- 显示分页链接 -->
		{% if not onepost and pagination %}	
			<div class="pagination">
			{{ pagination_widget(pagination,'.user',username=user.username)}}
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

<!-- 根据博客具体内容长度，动态决定是否隐藏超出内容 -->
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}


