{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}写博客{% endblock %}

{% block page_content %}
	<div class="container">
		<!-- 博客提交表单 -->
		<!-- 检测当前用户是否有写权限 -->
		{% if current_user.can(Permission.WRITE_ARTICLES) %}
		<div class="row">
			<div>
				{{ wtf.quick_form(form) }}
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='ckeditor-dev/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ck.js') }}"></script>
{% endblock %}


